<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/home">
        <img src="../../../assets/favicon.png" width="35" height="35" class="d-inline-block align-top rounded mr-2" alt="">
        Alquilator
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorías
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/category/Deportes">Deportes</a>
              <a class="dropdown-item" routerLink="/category/Mobiliario">Mobiliario</a>
              <a class="dropdown-item" routerLink="/category/Ocio">Ocio</a>
              <a class="dropdown-item" routerLink="/category/Informática">Informática</a>
              <a class="dropdown-item" routerLink="/category/Fotografía">Fotografía</a>
              <a class="dropdown-item" routerLink="/category/Instrumentos">Instrumentos</a>
              <a class="dropdown-item" routerLink="/category/Sonido">Sonido</a>
              <a class="dropdown-item" routerLink="/category/Herramientas">Herramientas</a>
            </div>
        </li>        
      </div>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-item nav-link active" routerLink="/login">Inicia sesión</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-item nav-link active" routerLink="/registration">Regístrate</a>
            </li>
        </ul>

    </div>
  </nav>
