<div class="container d-flex m-auto ">
  
  <app-user-area></app-user-area>
  
  <div class="mt-5 pt-5" style="width: 50vw;">
      <h1>Editar perfil</h1>
      <form class="row g-3 mb-5">
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          
          <div class="col-md-6">
            <label for="inputCity" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="col-md-6">
            <label for="inputZip" class="form-label">Código Postal</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="col-12 mt-3">
              <button type="button" class="btn btn-block btn-secondary">Cancelar</button>
          </div>
          <div class="col-12 mt-3">
            <button type="submit" class="btn btn-block btn-info">Guardar perfil</button>
          </div>
          <div class="col-12 mt-3">
              <button type="button" class="btn btn-block btn-secondary">Eliminar cuenta</button>
          </div>
      </form>
  </div> 
</div>
