
/* .card-img-top {
    min-width: 18.19vw;
    max-width: 20.19vw;
    min-height: 18.19vw;
    max-height: 20.19vw;

} */


.info-product {
    margin-bottom: 2.2vw;
}

.button-container {
    display: flex;    
    justify-content: center;
}
