
<div class="container mt-5 pt-5 mb-5">
    <h1 class="mt-5 mb-5">{{categoryName}} <img [src]="categoryPics" width="50"alt=""> </h1>

    <div class="card-deck">
        <div *ngFor="let product of this.products" class="card">
              <img [src]="product.pictures1" class="card-img-top" alt="...">
              <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{product.name}}</h5>

                    <div class="info-product">
                      <p class="card-text">Descripción: {{product.description}}</p>
                      <p class="card-text">Ubicación: Madrid</p>
                      <p class="card-text price">Precio: {{product.price}}€/día</p>
                    </div>
                    <button type="button" class="mt-auto align-self-end btn btn-block btn-info" (click)="redirect(product._id)">Abrir</button>
              </div>
        </div>
    </div>
    

</div>
