
.col-md-3 {
    padding-right: 0;
    padding-left: 0;
}

.card-img-top {
    min-height: 18.19vw;
}

.info-product {
    margin-bottom: 2.2vw;
}

.button-container {
    display: flex;    
    justify-content: center;
}
