
.card-deck {
    margin: 2vw;
}

.card {
    min-width: 17vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    max-width: 18.19vw;

}

.info-product {
    margin-bottom: 2.2vw;
}

.button-container {
    display: flex;    
    justify-content: center;
}

.card-img-top {
    max-width: 18.19vw;
    max-height: 18.19vw;
    min-height: 18.19vw;


}


