 <footer class="site-footer navbar-dark bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6><a class="footer-links text-info" routerLink="/about-us">Sobre Alquilator</a></h6>
          <p class="text-justify">Alquilator.com es una web destinada al alquiler de productos. Para todas esas cosas que no utilizamos todos los días pero que nunca viene mal tener a mano, ¡y más aún si pueden ayudarnos a sacar un dinerillo extra!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categorías</h6>
          <ul class="footer-links">
            <li><a routerLink="/category/Deportes">Deportes</a></li>
            <li><a routerLink="/category/Mobiliario">Mobiliario</a></li>
            <li><a routerLink="/category/Ocio">Ocio</a></li>
            <li><a routerLink="/category/Informática">Informática</a></li>
            <li><a routerLink="/category/Fotografía">Fotografía</a></li>
            <li><a routerLink="/category/Instrumentos">Instrumentos</a></li>
            <li><a routerLink="/category/Sonido">Sonido</a></li>
            <li><a routerLink="/category/Herramientas">Herramientas</a></li>

          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Enlaces rápidos</h6>
          <ul class="footer-links">
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/upload">Publica tu anuncio</a></li>
            <li><a routerLink="/login">Inicia sesión</a></li>
            <li><a routerLink="/">Política de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by Antoni, Joselyn y Belén.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/?lang=es"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>